{% extends "base.html" %} {% load static %} {% block cssFile %}<link
  rel="stylesheet"
  href="{% static 'css/style.css' %}"
/>{% endblock %} {% block title %}Home{% endblock %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-dark table-striped table-hover table-bordered">
        <h1 id="title">Your Friends:</h1>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Hobbies</th>
            <th scope="col">Personality</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for friend in friends %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ friend.name }}</td>
            <td>{{ friend.birthday }}</td>
            <td>{{ friend.hobbies }}</td>
            <td>{{ friend.personality }}</td>
            <td><a href="/delete/{{ friend.id }}">Remove Friend</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
