{% extends "base.html" %} {% load static %} {% block cssFile %}<link
  rel="stylesheet"
  href="{% static 'css/style.css' %}"
/>{% endblock %} {% block title %}Home{% endblock %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-dark table-striped table-hover table-bordered">
        <h1 id="title">Your Friends:</h1>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Hobbies</th>
            <th scope="col">Personality</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mohamed Amine Safi</td>
            <td>6 April 2004</td>
            <td>Reading</td>
            <td>Kind</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mariam Briki</td>
            <td>24 July 2005</td>
            <td>Cooking</td>
            <td>Warm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
